In [2]:
import numpy as np
import pandas as pd

In [3]:
chess_example = pd.read_csv("../datasets/chess/games.csv")
chess_example.head(3)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3

In [4]:
chess_example.loc[(chess_example.white_rating > 1200) | (chess_example.black_rating > 1300)].describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,1.915200e+04,1.915200e+04,19152.000000,19152.000000,19152.000000,19152.000000
mean,1.483746e+12,1.483746e+12,60.820019,1620.689641,1610.598736,4.881788
std,2.837437e+10,2.837426e+10,33.574180,275.079057,278.581522,2.818888
min,1.376772e+12,1.376772e+12,1.000000,788.000000,789.000000,1.000000
25%,1.477526e+12,1.477527e+12,37.000000,1427.000000,1418.000000,3.000000
50%,1.496177e+12,1.496177e+12,56.000000,1584.000000,1577.000000,4.000000
75%,1.503214e+12,1.503215e+12,79.000000,1803.000000,1797.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000

In [13]:
chess_example.opening_name.unique().size

1477

In [ ]:
arr = np.array([1,2,3])

np.float64(2.0)